---
import { Image, Picture } from 'astro:assets';
import Star from './images/icon-star.svg';
import BgDesktop from './images/background-pattern-desktop.svg';
import BgMobile from './images/background-pattern-mobile.svg';

import Accordion from './Accordion';
import BaseLayout from '../../layouts/BaseLayout.astro';

import classes from './accordion.module.css';

const data = [
	{
		label: 'What is Frontend Mentor, and how will it help me?',
		content: `Frontend Mentor offers realistic coding challenges to help developers
		improve their frontend coding skills with projects in HTML, CSS, and
		JavaScript. It's suitable for all levels and ideal for portfolio
		building.`,
	},
	{
		label: 'Is Frontend Mentor free?',
		content: `Yes, Frontend Mentor offers both free and premium coding challenges,
		with the free option providing access to a range of projects suitable
		for all skill levels.`,
	},
	{
		label: 'Can I use Frontend Mentor projects in my portfolio?',
		content: `Yes, you can use projects completed on Frontend Mentor in your
		portfolio. It's an excellent way to showcase your skills to potential
		employers!`,
	},
	{
		label: `How can I get help if I'm stuck on a challenge?`,
		content: `The best place to get help is inside Frontend Mentor's Discord
		community. There's a help channel where you can ask questions and seek
		support from other community members.`,
	},
];
---

<BaseLayout title="FAQ Accordion" description="FAQ Accordion Solution">
	<link
		href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
		rel="stylesheet"
		slot="fonts"
	/>
	<div
		class={`h-screen grid place-items-center ${classes.bgLightPink} relative`}
	>
		<Image
			src={BgMobile}
			alt="FAQ"
			class="absolute w-full inset-0 z-0 md:hidden"
			loading="eager"
		/>
		<Image
			src={BgDesktop}
			alt="FAQ"
			class="absolute w-full inset-0 z-0 hidden md:block"
			loading="eager"
		/>
		<main
			class=`px-8 pt-6 pb-3 w-[90%] z-10 max-w-[550px] shadow-md rounded-lg bg-white ${classes.fontWork} ${classes.textDarkPurple}`
		>
			<div class="flex gap-4 mb-2 sm:mb-4 items-center">
				<Image src={Star} alt="FAQ" class="w-6 sm:w-10" loading="eager" />
				<h1 class="font-bold text-3xl sm:text-5xl">FAQs</h1>
			</div>
			<Accordion data={data} client:load />
		</main>
	</div>
</BaseLayout>
